/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* FONT */

@font-face {
    font-family: 'Trajan Pro Bold';
    src: url('../font/Trajan\ Pro\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Tahoma Regular';
    src: url('../font/Tahoma.ttf') format('truetype');
}

@font-face {
    font-family: 'Vilvaldi';
    src: url('../font/Vivaldi.ttf') format('truetype');
}

@font-face {
    font-family: 'Trajan Pro Regular';
    src: url('../font/TrajanPro-Regular.ttf') format('truetype');
}

/* GENERAL */

html {
    font-size: 16px;
}

body {
    line-height: 1.625;
    background: #242424;
}

p {
    color: #ffeaee;
    font-family: 'Tahoma Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Trajan Pro Bold', serif;
    color: #ffb600;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.15rem;
}

a {
    text-decoration: none;
    transition: color .3s;
}

li {
    font-family: "Tahoma Regular";
    color: #ffeaee;
    font-size: .6rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* HEADER */

.topbar {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.nav-item:hover {
    color: #5bc0eb;
}

.nav-item {
    display: block;
    margin: 5px 10px;
    line-height: 1.5;
}

.menu-button {
    color: #5bc0eb;
    border: solid 1px #5bc0eb;
    margin-top: 10px;
    padding: 5px 9px;
}

.menu-button:hover {
    color: #ffeaee;
    border: solid 1px #ffeaee;
    transition: .3s;
}

/* BANNER */

.banner {
    position: relative;
}

.banner-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.banner-video {
    width: 100%;
    position: relative;
    z-index: 0;
    opacity: 0.5;
}

.banner-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 2;
}

.banner-text-welcome {
    font-family: 'Trajan Pro Regular', serif;
    text-align: center;
    font-size: .9rem;
    display: block;
    line-height: 2;
}

.banner-text-title {
    display: block;
    font-size: 1.5rem;
}

/* HOME SECTION */

.container {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 960px;
    text-align: center;
}

.block-cheffe {
    margin-top: 10px;
    margin-bottom: 40px;
}

.block-img {
    text-align: center;
}

.rounded-img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.block-body {
    text-align: center;
}

.title {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.1rem;
}

.signature {
    font-family: "Vilvaldi";
    font-size: 1.8rem;
}

.block-body p {
    margin-bottom: 1.5rem;
    margin-top: .9rem;
}

.btn {
    color: #5bc0eb;
    border: solid 1px #5bc0eb;
    margin-top: 10px;
    padding: 5px 40px;
}

.btn:hover {
    color: #ffb600;
    border: solid 1px #ffb600;
    transition: .3s;
}

/* SECTION SLIDER */

.container-slider {
    padding: 50px 0;
    background-image: url(../img/slider-section.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.block-slider {
    background-color: rgba(36, 36, 36, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.arrow {
    width: 150px;
}

.arrow-left,
.arrow-right {
    margin: 0 20px;
}

/* SECTION MOSAIK */

.block-body-mosaik {
    text-align: center;
    margin: 20px 0 40px 0;
}

.block-img-mosaik {
    margin: 25px 0;
}

.block-img-bottom {
    display: none;
}

/* SECTION-RESERVE */

.container-reserve {
    padding: 50px 0;
    background-image: url(../img/reserve-section.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.block-reserve {
    background-color: rgba(36, 36, 36, 0.8);
    text-align: center;
    padding: 25px 0;
}

.btn-reserve {
    margin: 30px;
}

/* MENU SECTION */

.container-menu {
    margin-bottom: 40px;
}

.title-body {
    color: #5bc0eb;
}

.container-left {
    display: none;
}

.block-plates-body {
    margin: 10px 0 50px 0;
}

.block-plates-img img {
    border-radius: 50%;
    margin: 10px 0 0 0;
}

.block-plates-body p {
    margin: 15px 0 10px 0;
}

/* SECTION FORMULAS */

.block-formula-img {
    margin: 10px 0 10px 0;
}

.btn-formula {
    margin: 20px 0 50px 0;
}

/* SECTION MENU-CARD */

.block-menu-card {
    margin: 0 0 40px 0;
}

.menu-body {
    margin: 10px 0;
}

.card {
    margin: 20px 0 50px 0;
}

th {
    font-family: "Trajan Pro Bold";
}

td {
    color: #ffeaee;
    padding: 10px 10px;
}

.menu-body td:nth-child(2) {
    color: #ffb600;
}

.menu-body {
    display: flex;
    justify-content: center;
}

.menu-img {
    margin: 0 0 20px 0;
}

/* SECTION CONTACT */

.container-contact,
.container-reserved {
    padding: 0 0 30px 0;
    text-align: center;
}

.section-contact input,
.section-reserved select,
.section-reserved input,
.section-contact textarea {
    width: 100%;
    background-color: #364e58;
    border: none;
    font-size: 1rem;
    color: #ffeaee;
    font-family: "Tahoma Regular", sans-serif;
    border-radius: 3px;
}

.section-contact input:focus,
.section-reserved select:focus,
.section-reserved input:focus,
.section-contact textarea:focus {
    background-color: rgba(54, 78, 88, .1);
}

.section-reserved .contact-form-row {
    margin-top: 30px;
}

.section-contact input,
.section-reserved select,
.section-reserved input {
    margin-bottom: 15px;
    height: 40px;
    padding: 0 0.5rem;
}

.section-contact textarea {
    padding: 10px 0.5rem;
}

.section-contact input::placeholder,
.section-contact textarea::placeholder {
    color: #ffeaee;
}

.contact-form {
    margin: 0 20px 0 20px;
    color: #ffeaee;
}

.button {
    font-family: "Trajan Pro Bold", serif;
    background-color: #242424;
    color: #5bc0eb;
    border: solid 1px #5bc0eb;
    margin-top: 10px;
    padding: 5px 40px;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    color: #ffb600;
    border: solid 1px #ffb600;
    transition: .3s;
}

/* SECTION RESERVED */

.section-reserved select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.section-reserved select {
    background: 
        #364e58 
        no-repeat 
        right 
        0.5rem 
        center 
        url(./public/assets/img/arrow-down.png);
    background-size: 15px;
}

.map {
    width: 100%;
    height: 250px;
}

/* SECTION CHEFFE ET SON EQUIPE */

.title-blue {
    color: #5bc0eb;
}

.section-cheffe p {
    text-align: justify;
}

.section-cheffe img {
    margin: 20px 0 0 0;
    border-radius: 5px;
}

/* FOOTER */

.footer {
    padding: 40px 30px;
}

.footer-columns,
.footer-credits {
    text-align: center;
}

.footer-column {
    margin-bottom: 2rem;
}

.footer-column p,
.footer-credits p {
    font-size: .6rem;
}

.footer-title {
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.footer a {
    color: #5bc0eb;
    font-family: "Tohama Reguler";
}

.footer a:hover {
    color: #ffb600;
    transform: .3s;
}

.footer-credits {
    font-size: 0.7rem;
    margin-top: .5rem;
}

.footer-credits span {
    font-family: "Trajan Pro Bold";
    text-transform: uppercase;
    color: #ffb600;
}

.legal-mentions {
    font-size: 0.6rem;
}

/* SECTION MENTIONS LEGALES */

.block-body-legals-mentions {
    padding: 20px 0;
}

.section-legals-mentions span {
    color: #ffb600;
}

.section-legals-mentions p {
    padding: 5px 0;
    text-align: left;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 620px) {
    html {
        font-size: 16px;
    }

    /* HEADER */

    .nav-item {
        display: block;
        margin: 5px 10px;
    }

    .banner-text-welcome {
        font-size: 1.8rem;
        display: block;
    }

    .banner-text-title {
        font-size: 2.5rem;
    }

    .menu-button {
        margin-top: 10px;
        padding: 5px 9px;
    }

    /* SECTION SLIDER */

    .block-slider {
        padding: 20px;
    }

    .arrow {
        width: 50px;
    }

    /* SECTION MOSAIK */

    .block-body-mosaik {
        margin: 0 auto;
        padding: 20px;
        max-width: 960px;
    }

    .block-img-bottom {
        display: block;
    }

    .block-img-mosaik img {
        width: 200px;
        height: auto;
        margin: 10px 10px;
    }

    /* SECTION MENU */

    .container-left {
        display: block;
    }

    .block-menu-plate {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px 20px 20px;
    }

    .block-plates-img {
        width: 600px;
    }

    .block-plates-body {
        width: 600px;
    }

    .container-left .block-plates-body {
        text-align: right;
    }

    .container-right .block-plates-body {
        text-align: left;
    }

    /* SECTION MENU CARD */

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 10px 10px;
    }

    .menu-card-img {
        width: 400px;
        float: left;
        margin-right: 10px;
    }

    .menu-body {
        text-align: left;
        margin: 0 0 0 20px;
        width: 800px;
    }

    .menu-body td:nth-child(2) {
        text-align: right;
    }

    tbody {
        text-align: left;
    }

    .menu-body table {
        width: 100%;
    }

    .menu-body th,
    .menu-body td {
        padding: 5px;
        font-size: .8rem;
    }

    .menu-body td:first-child {
        text-align: left;
    }

    .menu-body td:last-child {
        text-align: right;
    }

    /* SECTION CONTACT */

    .section-contact input,
    .section-reserved input,
    .section-reserved select,
    .section-contact textarea {
        width: 75%;
    }

    .button {
        width: auto;
    }

    /* SECTION RESERVED */

    .map {
        height: 460px;
    }

    /* SECTION CHEFFE ET SON EQUIPE */

    .section-cheffe {
        margin: 0 150px;
    }

    /* SECTION LEGALS MENTIONS */

    .block-body-legals-mentions {
        padding: 20px 125px;
    }

}

@media only screen and (min-width: 700px) {

    .block-formulas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 10px 10px;
    }

    .block-formula {
        margin: 0 10px 0 10px;
    }

    .title-body-formula {
        color: #5bc0eb;
        font-size: .8rem;
    }

    /* FOOTER */

    .footer-columns {
        display: flex;
        justify-content: space-between;
    }

    .footer-column {
        width: 300px;
        margin-right: 50px;
    }

}

@media only screen and (min-width: 920px) {

    /* HEADER */

    .topbar {
        display: flex;
        align-items: center;
        max-width: 1150px;
        margin: 0 auto;
        padding: 0;
    }

    .logo {
        margin-right: auto;
    }

    .nav-item {
        display: inline-block;
        margin: 0 10px;
    }

    .reservation {
        margin-left: auto;
    }

    .menu-button {
        padding: 8px 13px;
    }

    /* HOME SECTION */

    .container {
        margin-left: 150px;
        margin-right: 150px;
    }

    .block-cheffe {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block-img {
        width: auto;
        margin-right: 50px;
    }

    .block-body {
        width: 1000px;
    }

    .text {
        text-align: left;
    }

    /* SECTION SLIDER */

    .block-slider,
    .block-reserve {
        margin: 0 150px;
        border-radius: 5px;
    }

    .block-img-mosaik img {
        width: 275px;
        height: auto;
        margin: 10px 10px;
    }

    /* SECTION MOSAIK */

    .btn-mosaik {
        margin-bottom: 20px;
    }

    /* SECTION RESERVE */

    .block-reserve {
        margin: 0 300px;
        border-radius: 5px;
    }

    /* SECTION FORMULAS */

    .block-formulas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px 20px 20px;
    }

    .block-formula {
        margin: 0 30px 0 30px;
    }

    .title-body-formula {
        color: #5bc0eb;
        font-size: .8rem;
    }

    /* SECTION MENU CARD */

    .menu-body th,
    .menu-body td {
        padding: 5px;
    }

    /* SECTION CONTACT */

    /* SECTION CONTACT */

    .section-contact input,
    .section-reserved input,
    .section-reserved select,
    .section-contact textarea {
        width: 90%;
    }

}