/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* FONT */

@font-face {
    font-family: 'Trajan Pro Bold';
    src: url('/public/assets/font/Trajan\ Pro\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Tahoma Regular';
    src: url('/public/assets/font/Tahoma.ttf') format('truetype');
}

@font-face {
    font-family: 'Vilvaldi';
    src: url('/public/assets/font/Vivaldi.ttf') format('truetype');
}

@font-face {
    font-family: 'Trajan Pro Regular';
    src: url(/public/assets/font/TrajanPro-Regular.ttf) format('truetype');
}

/* GENERAL */

html{
    font-size: 16px;
}

body {
    line-height: 1.625;
    background: #242424;
}

p {
    color: #ffeaee;
    font-family: 'Tahoma Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Trajan Pro Bold', serif;
    color: #ffb600;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.15rem;
}

a {
    text-decoration: none;
    transition: color .3s;
}

/* HEADER */

.topbar {
    font-size: .75rem;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}


.nav-item:hover {
    color: #5bc0eb;
}

.logo {
    margin-bottom: 10px;
}

.nav-item {
    display: block;
    margin: 5px 10px;
    line-height: 1.5;
}

.menu-button {
    color: #5bc0eb;
    border: solid 1px #5bc0eb;
    margin-top: 10px;
    padding: 5px 9px;
}

.menu-button:hover {
    color: #ffeaee;
    border: solid 1px #ffeaee;
}

/* BANNER */


.banner-text-welcome {
    font-family: 'Trajan Pro Regular', serif;
    text-align: center;
    font-size: .9rem;
    display: block;
    line-height: 2;
}

.banner-text-title {
    display: block;
    font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 620px) {
    html {
        font-size: 16px;
    }
    
    /* HEADER */

    .nav-item {
        display: block;
        margin: 5px 10px;
    }

    .banner-text-welcome {
        font-size: 1.8rem;
        display: block;
    }

    .banner-text-title {
        font-size: 2.5rem;
    }

    .menu-button {
        margin-top: 10px;
        padding: 5px 9px;
    }

}

@media only screen and (min-width: 920px) {

    .topbar {
        display: flex;
        align-items: center;
        max-width: 1150px;
        margin: 0 auto;
        padding: 0;
    }
    
    .logo {
        margin-right: auto;
    }

    .nav-item {
        display: inline-block;
        margin: 0 10px;
    }

    .reservation {
        margin-left: auto;
    }

    .menu-button {
        padding: 8px 13px;
    }


}